.modal-container {
    position: fixed;
    top: 90px;
    left: 20px;
    right: 20px;
    width: calc(100% - 40px);
    height: calc(100vh - 100px);
    background-color: rgba(40, 41, 42, 1);
    border-radius: 10px;
    /* display: flex; */
    z-index: 1002;
    

}
.modal-layout{
    width: 100%;
}

.modal-top-row{
    display: flex;
    flex-direction: row;

}
.googleLogo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-icon-container{
    background: none;
    border: none;
  
    
}