@font-face {
  font-family: 'ProductSans';
  src: local('ProductSans'), url(../src/assets/fonts/google-sans/ProductSans-Regular.ttf) format('truetype');
}

body{
  font-family: ProductSans !important;
  margin: 0;
  padding: 0;
}

body {
  background-color: #242120;
}